<div class="">
    <div class="text-center">
      <h1>Nuevas <span class="badge badge-primary">Noticias</span></h1>
  
    </div>
    <div class="text-center">
      <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="./media/img/upload/directo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Selección mexicana de futbol desata euforia en la afición</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Equipo de fútbol desaparece en una cueva de Tailandia</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img class="card-img-top" src="./media/img/upload/futbol1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mundial de Fútbol
          en vivo: calendario,
          partidos y últimas
          noticias en directo</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Imagen de la noticia para noticias de EL PAÍS
  Así te hemos contado en directo las elecciones en Turquía.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Se olvidan del futbol tras vencer a Corea</h5>
        <p class="card-text">Posterior a ello, los tres futbolistas en cuestión dejaron la canasta para dirigirse a la cancha futbol con el resto de sus compañeros y comenzar ...</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./media/img/upload/americano1.jpg" alt="Card image">
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>Imagen de la noticia para noticias futbol de RT en Español - Noticias internacionales
  Una de las ciudades que acogen el Mundial de fútbol tiene también ...</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">FIFA multa a la Asociación Polaca de Futbol por pancartas</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
    </div>
  
  
  </div>