<div class="">
  <div class="text-center">
    <h1>Nuevas
      <span class="badge badge-primary">Noticias</span>
    </h1>

  </div>



  <div class="text-center">


    <div class="card-columns">
      <div *ngFor="let new of news | async; let i = index">

        <div *ngIf="i === 0" class="card">
          <img class="card-img-top" [src]="new.img" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{new.title}}</h5>
            <p class="card-text">{{new.body}}</p>
          </div>
        </div>
        <!--  -->
        <div *ngIf="i === 1" class="card p-3">
            <div class="card-header">
                <img class="card-img" [src]="new.img" alt="Card image">
              </div>
          <blockquote class="blockquote mb-0 card-body">
            <p>{{new.title}}</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                {{new.body}}
                <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <!--  -->
        <div *ngIf="i === 2" class="card">
          <img class="card-img-top" [src]="new.img" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{new.title}}</h5>
            <p class="card-text">{{new.body}}</p>
            <p class="card-text">
              <small class="text-muted">{{new.date}}</small>
            </p>
          </div>
        </div>
        <!--  -->

        <div *ngIf="i === 3" class="card bg-primary text-white text-center p-3">
            <div class="card-header">
                <img class="card-img" [src]="new.img" alt="Card image">
              </div>
          <blockquote class="blockquote mb-1">
            <p>{{new.title}}</p>
            <footer class="">
              <small>
                {{new.body}}
                <cite title="Source Title">{{new.date}}</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <!--  -->
        <div *ngIf="i === 4" class="card text-center">
            <div class="card-header">
                <img class="card-img" [src]="new.img" alt="Card image">
              </div>
          <div class="card-body">
            <h5 class="card-title">{{new.title}}</h5>
            <p class="card-text">{{new.body}}</p>
            <p class="card-text">
              <small class="text-muted">{{new.date}}</small>
            </p>
          </div>
        </div>
        <!--  -->
        <div *ngIf="i === 5">
          <div class="card">
            <img class="card-img" [src]="new.img" alt="Card image">
          </div>
          <div class="card p-3 text-right">
            <blockquote class="blockquote mb-0">
              <p>{{new.title}}</p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                    {{new.body}}
                  <cite title="Source Title">{{new.date}}</cite>
                </small>
              </footer>
            </blockquote>
          </div>
        </div>
        <!--  -->
        <div *ngIf="i === 6" class="card">
            <div class="card-header">
                <img class="card-img" [src]="new.img" alt="Card image">
              </div>
          <div class="card-body">
            <h5 class="card-title">{{new.title}}</h5>
            <p class="card-text">{{new.body}}</p>
            <p class="card-text">
              <small class="text-muted">{{new.date}}</small>
            </p>
          </div>
        </div>
        <!--  -->

      </div>
    </div>

  </div>
</div>